<a href="https://colab.research.google.com/github/pranav19611/EDS/blob/main/Practice8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import csv
def top_5(d3):
  d3.sort(key=lambda x: int(x[3]),reverse=True)
  print("Sorted data:",d3)

  print("\nTop employee 1: ",d3[0][1])
  print("\nTop employee 2: ",d3[1][1])
  print("\nTop employee 3: ",d3[2][1])
  print("\nTop employee 4: ",d3[3][1])
  print("\nTop employee 5: ",d3[4][1])

f1=open("emp.csv","r")
f2=open("sal.csv","r")
f3=open("emp_sal","w")

d1=list(csv.reader(f1,delimiter=","))
d2=list(csv.reader(f2,delimiter=","))

print("\nFile 1 contents: ",d1)
print("\nFile 2 contents: ",d2)
d3=[]
for i in range (len(d1)):
  d3.append(d1[i]+d2[i])

print(d3)
cw=csv.writer(f3)
cw.writerows(d3)

print(max(d3))

top_5(d3)
f1.close()
f2.close()
f3.close()
sal=[]
with open('/content/emp_sal', mode ='r')as file:

  csvFile = csv.reader(file)

  for lines in csvFile:
    sal.append(int(lines[3]))


print("\nMaximum Salary:", max(sal))
print("Minimum Salary:", min(sal))
print("Sum:",sum(sal))
print("Average:",sum(sal)/len(sal))

File 1 contents:  [['1', 'Sanvi', 'Manager', '100000', '8\\12\\2004'], ['2', 'Mrunmayee', 'Sr. Manager', '95000', '6\\12\\2000'], ['3', 'Jayesh', 'Manager', '80000', '12\\5\\1998'], ['4', 'Gouri', 'Sr. Manager', '95000', '9\\4\\2000'], ['5', 'Mahesh', 'Supervisor', '500000', '4\\5\\2006']]

File 2 contents:  [['1', 'Manager', '100000'], ['2', 'Sr. Manager', '150000'], ['3', 'Manager', '90500'], ['4', 'Sr. Manager', '100500'], ['5', 'Supervisor', '85000']]
[['1', 'Sanvi', 'Manager', '100000', '8\\12\\2004', '1', 'Manager', '100000'], ['2', 'Mrunmayee', 'Sr. Manager', '95000', '6\\12\\2000', '2', 'Sr. Manager', '150000'], ['3', 'Jayesh', 'Manager', '80000', '12\\5\\1998', '3', 'Manager', '90500'], ['4', 'Gouri', 'Sr. Manager', '95000', '9\\4\\2000', '4', 'Sr. Manager', '100500'], ['5', 'Mahesh', 'Supervisor', '500000', '4\\5\\2006', '5', 'Supervisor', '85000']]
['5', 'Mahesh', 'Supervisor', '500000', '4\\5\\2006', '5', 'Supervisor', '85000']
Sorted data: [['5', 'Mahesh', 'Supervisor', '500000', '4\\5\\2006', '5', 'Supervisor', '85000'], ['1', 'Sanvi', 'Manager', '100000', '8\\12\\2004', '1', 'Manager', '100000'], ['2', 'Mrunmayee', 'Sr. Manager', '95000', '6\\12\\2000', '2', 'Sr. Manager', '150000'], ['4', 'Gouri', 'Sr. Manager', '95000', '9\\4\\2000', '4', 'Sr. Manager', '100500'], ['3', 'Jayesh', 'Manager', '80000', '12\\5\\1998', '3', 'Manager', '90500']]

Top employee 1:  Mahesh

Top employee 2:  Sanvi

Top employee 3:  Mrunmayee

Top employee 4:  Gouri

Top employee 5:  Jayesh

Maximum Salary: 500000
Minimum Salary: 80000
Sum: 870000
Average: 174000.0