<a href="https://colab.research.google.com/github/pranav19611/EDS/blob/main/practice6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
f=open("newfile.txt","x")
f.write("I just created a new file through py!")
f.close
f=open("newfile.txt","r")
print(f.read())

I just created a new file through py!

In [ ]:
f=open("newfile.txt","a")
f.write("\nNew day\nNew file\nNew lines\n;)")
f.close
f=open("newfile.txt","r")
print(f.read())

I just created a new file through py!New day
New file
New lines
New day
New file
New lines
;)
New day
New file
New lines
;)

In [ ]:
ename=[]
des=[]
sal=[]
dob=[]
f=open("EmpInfo1.csv","r")
fc=f.read()
print("file content",fc)
lines=fc.split("\n")
for l in lines:
  words=l.split(",")
  ename.append(words[0])
  des.append(words[1])
  sal.append(words[2])
  dob.append(words[3])
print("\n\nName:",ename)
print("\n\nDesignation:",des)
print("\n\nSalary:",sal)
print("\n\nDOB:",dob)
print("\nMax salary:",max(sal))
print("\nMin salary:",min(sal))

file content FIRST_NAME,Designation,SALARY,DOB
Donald,SH_CLERK,2600,12/2/1987
Douglas,SH_CLERK,2600,15-11-1982
Jennifer,AD_ASST,4400,22-02-1986
Michael,MK_MAN,13000,25-05-1977
Pat,MK_REP,6000,4/4/1995
Susan,HR_REP,6500,13-02-1989
Hermann,PR_REP,10000,6/5/1983
Shelley,AC_MGR,12008,11/4/1986
William,AC_ACCOUNT,8300,6/1/1995
Steven,AD_PRES,24000,21-06-1985
Neena,AD_VP,17000,31-07-1978
Lex,AD_VP,17000,3/2/1975
Alexander,IT_PROG,9000,17-12-1990
Bruce,IT_PROG,6000,2/5/1978
David,IT_PROG,4800,19-11-1974
Valli,IT_PROG,4800,27-08-1972
Diana,IT_PROG,4200,26-10-1987
Nancy,FI_MGR,12008,31-01-1968
Daniel,FI_ACCOUNT,9000,3/10/1968
John,FI_ACCOUNT,8200,12/2/1981
Ismael,FI_ACCOUNT,7700,7/9/1985
Jose Manuel,FI_ACCOUNT,7800,19-06-1983
Luis,FI_ACCOUNT,6900,21-11-1962
Den,PU_MAN,11000,13-03-1974
Alexander,PU_CLERK,3100,30-10-1985
Shelli,PU_CLERK,2900,25-01-1967
Sigal,PU_CLERK,2800,3/1/1955
Guy,PU_CLERK,2600,5/5/1979
Karen,PU_CLERK,2500,17-10-1988
Matthew,ST_MAN,8000,28-03-1978
Adam,ST_MAN,8200,17-11-1953
Payam,ST_MAN,7900,28-09-1969
Shanta,ST_MAN,6500,2/7/1962
Kevin,ST_MAN,5800,20-11-1954
Julia,ST_CLERK,3200,12/2/1964
Irene,ST_CLERK,2700,4/2/1974
James,ST_CLERK,2400,3/2/1975
Steven,ST_CLERK,2200,27-07-1974
Laura,ST_CLERK,3300,14-10-1972
Mozhe,ST_CLERK,2800,5/7/1964
James,ST_CLERK,2500,15-11-1988
TJ,ST_CLERK,2100,3/9/1988
Jason,ST_CLERK,3300,31-10-1986
Michael,ST_CLERK,2900,11/6/1972
Ki,ST_CLERK,2400,1/3/1977
Hazel,ST_CLERK,2200,4/4/1974
Renske,ST_CLERK,3600,24-02-1976
Stephen,ST_CLERK,3200,18-12-1969
John,ST_CLERK,2700,17-02-1975
Joshua,ST_CLERK,2500,17-09-1965


Name: ['FIRST_NAME', 'Donald', 'Douglas', 'Jennifer', 'Michael', 'Pat', 'Susan', 'Hermann', 'Shelley', 'William', 'Steven', 'Neena', 'Lex', 'Alexander', 'Bruce', 'David', 'Valli', 'Diana', 'Nancy', 'Daniel', 'John', 'Ismael', 'Jose Manuel', 'Luis', 'Den', 'Alexander', 'Shelli', 'Sigal', 'Guy', 'Karen', 'Matthew', 'Adam', 'Payam', 'Shanta', 'Kevin', 'Julia', 'Irene', 'James', 'Steven', 'Laura', 'Mozhe', 'James', 'TJ', 'Jason', 'Michael', 'Ki', 'Hazel', 'Renske', 'Stephen', 'John', 'Joshua']


Designation: ['Designation', 'SH_CLERK', 'SH_CLERK', 'AD_ASST', 'MK_MAN', 'MK_REP', 'HR_REP', 'PR_REP', 'AC_MGR', 'AC_ACCOUNT', 'AD_PRES', 'AD_VP', 'AD_VP', 'IT_PROG', 'IT_PROG', 'IT_PROG', 'IT_PROG', 'IT_PROG', 'FI_MGR', 'FI_ACCOUNT', 'FI_ACCOUNT', 'FI_ACCOUNT', 'FI_ACCOUNT', 'FI_ACCOUNT', 'PU_MAN', 'PU_CLERK', 'PU_CLERK', 'PU_CLERK', 'PU_CLERK', 'PU_CLERK', 'ST_MAN', 'ST_MAN', 'ST_MAN', 'ST_MAN', 'ST_MAN', 'ST_CLERK', 'ST_CLERK', 'ST_CLERK', 'ST_CLERK', 'ST_CLERK', 'ST_CLERK', 'ST_CLERK', 'ST_CLERK', 'ST_CLERK', 'ST_CLERK', 'ST_CLERK', 'ST_CLERK', 'ST_CLERK', 'ST_CLERK', 'ST_CLERK', 'ST_CLERK']


Salary: ['SALARY', '2600', '2600', '4400', '13000', '6000', '6500', '10000', '12008', '8300', '24000', '17000', '17000', '9000', '6000', '4800', '4800', '4200', '12008', '9000', '8200', '7700', '7800', '6900', '11000', '3100', '2900', '2800', '2600', '2500', '8000', '8200', '7900', '6500', '5800', '3200', '2700', '2400', '2200', '3300', '2800', '2500', '2100', '3300', '2900', '2400', '2200', '3600', '3200', '2700', '2500']


DOB: ['DOB', '12/2/1987', '15-11-1982', '22-02-1986', '25-05-1977', '4/4/1995', '13-02-1989', '6/5/1983', '11/4/1986', '6/1/1995', '21-06-1985', '31-07-1978', '3/2/1975', '17-12-1990', '2/5/1978', '19-11-1974', '27-08-1972', '26-10-1987', '31-01-1968', '3/10/1968', '12/2/1981', '7/9/1985', '19-06-1983', '21-11-1962', '13-03-1974', '30-10-1985', '25-01-1967', '3/1/1955', '5/5/1979', '17-10-1988', '28-03-1978', '17-11-1953', '28-09-1969', '2/7/1962', '20-11-1954', '12/2/1964', '4/2/1974', '3/2/1975', '27-07-1974', '14-10-1972', '5/7/1964', '15-11-1988', '3/9/1988', '31-10-1986', '11/6/1972', '1/3/1977', '4/4/1974', '24-02-1976', '18-12-1969', '17-02-1975', '17-09-1965']

Max salary: SALARY

Min salary: 10000

In [ ]:
circum=lambda r:r*3.14*r
print(circum(7))

153.86

In [ ]:
x=36
def tf():
  print(x)
tf()

36

In [ ]:
def cia():
  kgb=141
print(kgb)

NameError: ignored

In [ ]:
def out():
  x="local"
  def inn():
    nonlocal x
    x="nonlocal"
    print(x)
  print(x)
  inn()
out()

local
nonlocal