<a href="https://colab.research.google.com/github/pranav19611/EDS/blob/main/practice3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
l1=[348,"Pranav"]
l2=["Khatavkar"]

print(l1)
print(type(l2))
print(len(l1))
l1.extend(l2)
print(l1)

[348, 'Pranav']
<class 'list'>
2
[348, 'Pranav', 'Khatavkar']

In [ ]:
print("HEllo",end="World \n")
print("HEllo \nWorld")

HElloWorld
HEllo
World

In [ ]:
n=int(input("Enter the range: "))
for a in range(0,n,2):
  print(a)

Enter the range: 6
0
2
4

In [ ]:
l=[10,2,5,8,10,20]
print(l[2:])
print(l[:5])
print(l[-3:-1])
print(l[:-1])

[5, 8, 10, 20]
[10, 2, 5, 8, 10]
[8, 10]
[10, 2, 5, 8, 10]

In [ ]:
ls=[5,7,9]
ls1=[1,3]
ls1.extend(ls)
print(ls1)
ls1.append(11)
print(ls1)
ls1.insert(6,"suryansh")
print(ls1)

[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9, 11]
[1, 3, 5, 7, 9, 11, 'suryansh']

In [ ]:
c3=["om","parth","shravani","atul"]
if "nav" in c3:
  print("Yes")
else:
  print("No")

No

In [ ]:
for i in c3:
  print(i)

om
parth
shravani
atul

In [ ]:
newlist=list(("a","b","c"))
print(newlist)

['a', 'b', 'c']

In [ ]:
l[1:3]=6,3
print(l)

[10, 6, 3, 8, 10, 20]